<a href="/dashboard" class="go-back"> &larr; Back to dashboard</a>

<article class="new-page">
    <section class="new-form-page">
        <div class="form-heading">
            <h2>Create New Blog Post</h2>
        </div>