<section class="new-post-section">
    <button type="submit" class="btn" id="create-new-post">+ Create new post</button>
</section>

{{#if posts.length}}


<script src="/javascript/create-post.js"></script>