<section class="login-page">
    <div class="form-heading">
        <h1>Log In</h1>
    </div>

    <a href="/signup" class="sign-in-link">sign up instead</a>
</section>

<script src="/javascript/login.js"></script>
