* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

main, .site-name {
    flex: 1;
    padding: 2% 4%;
    background-color: #da9733;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color .1s;
}

a, .btn-no-style, #comment-subtitle {
    color: #499ae6;
}

a, .btn-no-style:hover {
    color: #2d79d4;
}

button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45bcf3;
}

.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

.go-back {
    color: aqua;
}